/* page.css - page globals such as footer, navbar */

/* globals and fonts */
* {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-size: 16pt;
  font-weight: 600;
}
p {
  font-size: 10pt;
  margin-bottom: .5rem;
}

/* navbar */
.navbar {
  background-color: #0b1c2b;
  padding: 0 2.5%;
  font-size: 10pt;
}
a.navbar-item {
  color: white;
  transition: .25s ease;
}
a.navbar-item:focus {
  color: white;
  background-color: transparent;
  transition: .25s ease;
}
a.navbar-item:hover {
  color: white;
  background-color: transparent;
  box-shadow: inset 0 -2px 0 white;
  transition: .25s ease;
}
.navbar-item a.button,
form .button {
  padding: 2.5pt auto;
  height: 2.25em;
  font-weight: 300;
  font-size: 10pt;
}
/* tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  display: none;
  background-color: white;
  padding: 0 1rem;
  position: absolute;
  z-index: 2;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover .tooltiptext {
  display: inline-block;
}

/* footer - check position */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1rem;
  padding: 1.75rem 3.5rem 3.25rem;
  font-size: 10pt;
}
.bulmaCredit {
  text-align: right
}